/* ZipcodeWilmington 2015 */

/* ===================================== FONTS ========================================= */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


/* ===================================== GLOBAL STYLE ========================================= */
* {
    margin: 0;
    padding: 0;
}

body { font: 14px/1.4 arial, sans-serif; background-color: #F5F5F5;}

article, aside, figure, footer, header, nav, section { display: block; }
a:link, a:visited {
    text-decoration: none;

    color: inherit;
}

a:hover, a:active {
    text-decoration: none;

    color: inherit;
}

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#main:focus {
    outline: none;
}


/* ===================================== HEADER STYLE ========================================= */

.main-header {
    width: 100%;
    height: 79px;

    background-color: #144e64;}

.main-header .title {
    float: left;
    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;

    width: 55%;

    padding-left: 5%;

    color: #fff;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-header .zip-link {
    float: right;

    width: 16%;
    height: 100%;

    background-color: white;
}

.main-header .lesson-link {
    float: right;

    width: 16%;
    height: 100%;

    background-color: #3c790a;
}

.main-header div {
    /* fix blurriness of children due to them
       being placed on half pixels */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.main-header div img {
    display: block;

    margin: auto;

    width: 55%;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* page styles */
article {margin: 5%;}
article p { margin-bottom: 20px;}
section {margin:10px;}
h1 {font-weight: bold; margin-left: 10px;}
#main {

}
#display {
    border: 1px #aaa solid;
    padding:10px;
    min-height:300px;
    background:#eee;
		margin-bottom:10px;
}
#displayCraps {
    border: 1px #aaa solid;
    padding:10px;
    min-height:300px;
    background:#eee;
		margin-bottom:10px;
}
#menu {
    float: left;
    width: 100px;
    margin: 0 0 0 10px;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    margin-bottom: 10px;
}

#menu button {
    width: 120px;
}
/* Button */
button, input {    
    font-family: inherit;    
    font-size: inherit;    
}

button {    
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background: -moz-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5); 
    background: -ms-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5); 
  	background: -o-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);  
 	background: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5); 
    
    border: 1px solid #aaa;    
    min-width: 72px;    
    -webkit-border-radius: 2px;    
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);    
    -webkit-user-select: none;    
}

button:hover {    
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    background: #ebebeb -moz-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9); 
    background: #ebebeb -ms-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9); 
  	background: #ebebeb -o-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);  
 	background: #ebebeb linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9); 
    
    border-color: #999;    
    color: #222;    
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);    
}



button:active, .toggle-button-active, .toggle-button-active:hover {
    
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    background: #ebebeb -moz-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc); 
    background: #ebebeb -ms-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc); 
  	background: #ebebeb -o-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);  
 	background: #ebebeb linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc); 
    
    color: #333;    
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);    
}



button[disabled], .button[disabled]:hover {
    
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background: -moz-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    background: -ms-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  	background: -o-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);  
 	background: linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    
    border-color: #aaa;    
    color: #888;    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

h1 {    
    font-size: 24px;    
    font-weight: normal;    
    margin-left: 10px;
}



label {
    color: black;    
    font-weight: bold;
}

#footer-text{
    text-align: center;
    font-size: 14px;
}

#divider-top {
    margin: 10px 0 15px 0;
}

#divider-bottom {
    margin: 25px 0 10px 0;
}

#main {
    color: rgb(115, 115, 115);
    font-size: 16px;
    margin: 100px auto 0 auto;
    padding: 10px;
    width: 640px;
}

[hidden] {
    
    display: none !important;
    
}

.description {
    
    margin-bottom: 25px;
    
}

.big-button {
    height: 2em;
    font-size: 16px;
    padding: 6px;
}

.centered-button {
    text-align: center;
}

.choice-header {
    font-size: 24px;
    font-weight: normal;
    margin-left: 10px;
}

.choice-panel {
    margin-top: 17px; 
    padding-bottom: 20px;
}
